 <!DOCTYPE html>
  <html>
    <head>
      <title>DSSD - Grupo 4</title>
      <!--Import Google Icon Font
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      <nav class="red darken-4" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">DSSD - Grupo 4</a>
          <% if session[:user_session] %>
          <ul class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
          </ul>
          <% end %>
        </div>
      </nav>

      <div class="container">
        <%= yield %>
      </div>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>
      <script type="text/javascript" src="/js/modal.js"></script>

    </body>
  </html>